/* google font import*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rock+Salt&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

p {
    font-family: "quicksand", cursive;
}

h1 {
    font-family: "Rock Salt", cursive;
}

h2 {
    font-family: "zain", cursive;
}
